:root {
    /* --light-color: #F6F0ED; */
    --light-color: #cad2c5;
    --dark-color: #11232D;

    /* --primary-color: #90a955;
    --primary-color--lighter: #ecf39e;
    --primary-color--darker: #4f772d; */

    /* --dominant-color: #cad2c5; */
    --primary-color: #588157;
    --primary-color--lighter: #a3b18a;
    --primary-color--darker: #3a5a40;
    --secondary-color: #bc4749;

    --page-end-height: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--dark-color);
    background-color: var(--light-color);
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

h1 {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 200%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#header,
#footer {
    user-select: none;
    height: var(--page-end-height);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-color: var(--primary-color--darker);
    color: var(--light-color)
}

#header {
    background-color: var(--primary-color);
    box-shadow: 0 .5rem .5rem 1rem rgba(0, 0, 0, 0.4);
}

#content {
    flex: 1;
    padding: 1rem 2rem;
    width: 100%;
    overflow: auto;
    max-height: calc(100dvh - var(--page-end-height) * 2);
}

#footer {
    justify-content: center;
}

.task {
    background-color: var(--primary-color--lighter);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: .25rem .25rem .75rem rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: flex-start;
    overflow: visible;
    position: relative;

    .task__checkmark {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        background-color: var(--light-color);
        border-radius: .25rem;

        &::after {
            content: "";
            position: absolute;
            display: none;
            left: 50%;
            top: 50%;
            width: .5rem;
            height: .75rem;
            border: solid var(--light-color);
            border-width: 0 .25rem .25rem 0;
            transform: translate(-50%, -64%) rotate(45deg);
        }

    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.task__checkmark {
            background-color: var(--primary-color);

            &::after {
                display: block;
            }
        }

    }

    .task__content {
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        margin-left: 2rem;
        
    }

    &:hover {
        cursor: pointer;

        .task__checkmark {
            background-color: var(--light-color);
        }
    }

    .task__tail-controller {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        background-color: var(--primary-color--darker);
        color: var(--light-color);
        padding: .25rem .5rem;
        border-radius: .25rem;
        font-size: .75rem;
        user-select: none;
    }
}